<!-- templates/realtor.html -->


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Realtor Dashboard</title>{% endblock %}
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% block content %}
    <h1>Dashboard</h1>
    <p>Welcome, Realtor!</p>
    <!-- {% if is_realtor %}
        <p>Welcome, Realtor!</p>
    {% else %}
        <p>Welcome, Customer!</p>
    {% endif %}-->
    <a href="{% url 'home1' %}">Back to Home</a>
    {% endblock %}
</body>
</html>